
@font-face
  font-family 'Marcellus'
  font-style normal
  font-weight 400
  src url("../font/Marcellus.woff"), local('Marcellus-Regular')

body
  margin 0px
  font-family 'Marcellus', '冬青黑体简体', '文泉驿微米黑', '微软雅黑'
  background-color hsl(240,80,13)

#page
  margin 0px auto

  #nav
    background hsl(0,0,30)
    color white
    display -webkit-flex
    -webkit-flex-flow row
    justify-content flex-start
    position fixed
    bottom 0px
    right 0px
    z-index 40

    .direction
      padding 10px 40px
      cursor pointer

      &:hover
        background-color hsl(30,80,70)

.street
  margin 22px 0px;

  a
    text-decoration none
    font-size 27px
    color hsl(197, 55%, 68%)

#body
  padding-top 100px
  padding-bottom 200px
  -webkit-transform-style preserve-3d
  -webkit-perspective 1700px
  -webkit-transition-timing-function ease
  -webkit-perspective-origin left left

  .category
    width 100%
  
.holder
  position absolute
  -webkit-transition-duration 0.6s
  -webkit-transform-origin 20% center

  &.open
    opacity 1
    -webkit-transform rotateY(0deg)
    pointer-events normal

  &.hide
    opacity 0
    -webkit-transform rotateY(-80deg)
    pointer-events none

.show
  line-height 0px

  .place
    position relative
    display inline-block
    left auto
    top auto
    background-color hsl(240,80,80)
    text-align center
    line-height 200px
    font-size 30px
    color white
    cursor pointer
    overflow hidden
    -webkit-transition-duration 0.6s
    box-shadow 0px 0px 5px hsl(0,0,50)

    .name
      -webkit-transition-duration 0.4s
      -webkit-transition-delay 0.3s
      -webkit-transform scale(1)
      -webkit-font-smoothing subpixel-antialiased

      a
        color white
        text-decoration none
        text-shadow 0px 0px 3px hsl(0,0,40)
        white-space nowrap

    &:hover
      box-shadow 0px 0px 30px hsl(300,60,60)
      z-index 20
      -webkit-transform scale(1.03)
      .name
        -webkit-transform scale(1.5)
        text-shadow 0px 0px 6px hsl(0,0,50)

  .place:nth-child(2n)
    background-color hsl(0,100,64)
    // -webkit-transform scale(0.8)
  .place:nth-child(3n)
    background-color hsl(120,100,64)
    // -webkit-transform scale(0.9)
  .place:nth-child(7n)
    background-color hsl(240,100,64)
    // -webkit-transform scale(1.1)

card(width,height)
  .place
    width width
    height height
    .name
      line-height height

@media (max-width: 300px)
  card(100%, 140px)
@media (min-width: 300px) and (max-width: 600px)
  card(50%, 200px)
@media (min-width: 600px) and (max-width: 1200px)
  card(25%, 240px)
@media (min-width: 1200px) and (max-width: 2000px)
  card(20%, 240px)
@media (min-width: 2000px)
  card(12.5%, 240px)