
doctype 5
html
  head
    title Street
    meta(charset='utf-8')
    link(rel='stylesheet', href='./build/design.css')
    script(defer, src='./bower_components/zepto/zepto.js')
    script(defer, src='./build/bundle.js')
  body
    #page