
doctype 5
html
  head
    title Street
    meta(charset='utf-8')
    link(rel='stylesheet', href='./build/page.css')
  body
    #page
      .street: a(href='http://www.zhihu.com/') 知乎
      .street: a(href='http://ruby-china.org/topics') Ruby China
      .street: a(href='http://v2ex.com/') V2EX
      .street: a(href='http://segmentfault.com/') segmentfault
      .street: a(href='http://cnodejs.org/') CNode
      .street: a(href='http://python-china.org/topic/') Python China
      .street: a(href='http://qianduan.us/latest') 前端界
      .street: a(href='http://inews.io/') Mac/iOS News
      .street: a(href='http://www.douban.com/group/Haskell/') Haskell 小组
      .street: a(href='http://www.douban.com/group/Lisp/') Lisp 小组
      .street: a(href='http://studygolang.com/') Study Golang
      .street: a(href='http://bbs.archlinuxcn.org/') Arch Lunux 中文论坛
      .street: a(href='http://forum.ubuntu.org.cn/') Ubuntu 中文论坛
      .street: a(href='angularjs.cn') AngularJS 中文社区
      .street: a(href='http://geek.csdn.net/') 极客头条
      .street: a(href='')